* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	background-image: url('../image/bg4.png');
}
.wrapper {
	min-width: 600px;
	margin: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 90px;
	background-image: url('../image/bg3.png');
	background-color: black;
	color: gray;
	margin-top: -20px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 30px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 20px 0 0 200px;
}

.content-min {
	padding: 20px 0 0 45px;
}

#tableholder {
	background-color:white; 
	padding:15px; 
	border-radius:8px;
	border-style:solid; 
	border-color: #0099ff; 
	border-width:4px;
}

.animation {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 200px;
	height: 100%;
    min-height: 100%;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	overflow: hidden;
}

.left-sidebar-min{
	float: left;
	width: 45px;
	height: 100%;
    min-height: 100%;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	overflow: hidden;
}

.pop {
}

.subicon{
	color: #ff471a;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -30px 0 0 0;
	padding: 15px;
	min-width: 600px;
	height: 30px;
	background-image: url('../image/bg2.png');
	background-color: black;
	color: gray;
	position: relative;
	transform-style: preserve-3d;
}

.element {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Upload image
-----------------------------------------------------------------------------*/
#avatarfile {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#upload {
	width: 150px;
	height: 150px;
	cursor: pointer;
	border-style: dotted;
	border-width:1px;
	cursor:pointer; 
	border-radius: 20px;
}

#preview {
	width: 148px;
	height: 148px;
	border-radius: 18px;
}
/* Upload image
-----------------------------------------------------------------------------*/
#logindiv {
		display: none;
		position:fixed;
		right: 14px;
		top: 30px;
		background-color:#ffc299;
		border-radius: 7px;
		width: 190px;
		height: 160px;
		padding: 10px;
		border-style:solid;
		border-side: 1px;
		border-color: #ff944d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

/* Popup
-----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
	.custom-modal-class {
		width: 500px; /* either % (e.g. 60%) or px (400px) */
	}
}
